<%= form_for ["admin", @company] do |f| %>

	<%= error_messages_for @company %>

	<div class="control-group">
		<%= f.label :category, :class => 'control-label' %>
		<div class="controls">
		  <%= f.select :category_id, nested_set_options(Category, @category) {|i| "#{'-' * i.level} #{i.name}" }, {:prompt => true} %>
		</div>
	</div>
	

  <div class="control-group">
		<%= f.label :name %>
		<div class="controls">
    	<%= f.text_field :name, :class => 'span6' %>
  	</div>
	</div>

	<div class="control-group">
    <%= f.label :phone %>
		<div class="controls">
    	<%= f.text_field :phone, :class => "span6" %>
  	</div>
	</div>

  <div class="control-group">
    <%= f.label :address %>
		<div class="controls">
    	<%= f.text_area :address, :class => "span6" %>
  	</div>
	</div>
  <div class="control-group">
    <%= f.label :website %>
		<div class="controls">
    	<%= f.text_field :website, :class => 'input-xxlarge' %>
		</div>
  </div>
  <div class="control-group">
    <%= f.label :email %>
		<div class="controls">
    	<%= f.text_field :email, :class => 'input-xxlarge' %>			
		</div>
  </div>

	<div class="control-group">
		<%= f.label :description %>
		<div class="controls">
    	<%= f.text_area :description, :class => "span6" %>
		</div>
  </div>

	<br/>

  <div class="form-actions">
    <%= f.submit :class => "btn btn-primary" %>
		<%= link_to 'Back', admin_companies_path, :class => "btn" %>
  </div>
<% end %>

<script type="text/javascript">
	jQuery(function($){
	   $("#company_phone").mask("(99) 9999-9999");
	});
	$(function(){
	  $('#company_website').bind('click', function(e){
	    if($.trim($(e.target).val())=='') $(e.target).val('http://');
	  })
	})
	
</script>