<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8">
  <title>cartendtudo - Automóveis</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="A cartendtudo tem uma ampla rede de profissionais para atender veículos Nacionais e Importados.">
	<meta name="keywords" content="site, carro, carros, veículo, veículos, automóveis, automóvel, peças, peça, serviços, serviço, mecânica, lanternagem, pintura, eletricista, mecânico, Goiás, Goiânia, Anápolis, pintor, lanterneiro">

  <meta name="author" content="Rogerio Alexandre">

  <!-- Le styles -->

  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Le fav and touch icons -->
  <link rel="shortcut icon" href="../assets/ico/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header class="container">

    <!-- Main hero unit for a primary marketing message or call to action -->
		<div class="row">
		  <div class="span4">
		  	<h1 class="logomarca">CAR<small>tendetudo.com</small></h1>
		  </div>
		  <div class="span8" style="margin-top:20px">
		  	<%= image_tag "car_city.png" %>
		  </div>
		</div>

		<div class="container navbar-wrapper">
			<div class="navbar">
			  <div class="navbar-inner">
			    <div class="container">
			      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </a>
      
			      <div class="nav-collapse">
			        <ul class="nav">
								<li class="active"><%= link_to "Início", root_path %></li>
                <% @category_roots.each do |category| %>
  								<%= content_tag_for :li, category do %>
  									<%= link_to category.name, companies_path(:category_id => category.id) %>
  								<% end %>
  							<% end %>
			          <li><%= link_to "Manutenção", companies_path %></li>
			          <li><a href="#">Anúncios</a></li>
			          <li><a href="#">Contato</a></li>
			        </ul>
			      </div><!-- /.nav-collapse -->
			    </div>
			  </div><!-- /navbar-inner -->
			</div><!-- /navbar -->
		</div>

	</header>
	
	<section class="container">
	

				<%= yield %>				

		
		<hr/>
    <footer>
      <p>&copy; Rede Car 2012 - Todos os direitos reservados</p>
    </footer>
	
	</section>
	
	
	
</body>
</html>